        body {
            padding-top: 70px;
            overflow: hidden;
        }
        /**start section tool box */
        
        .option-box {
            position: fixed;
            top: 100px;
            left: 0;
            z-index: 9999;
        }
        
        .option-box .color-option {
            float: left;
            background: #333;
            color: #FFF;
            padding: 10px;
            width: 200px;
            display: none;
        }
        
        .option-box .color-option ul li {
            width: 20px;
            height: 20px;
            display: inline-block;
            margin-right: 3px;
        }
        
        .option-box .gear-check {
            padding: 5px;
            color: #FFF;
            cursor: pointer;
        }
        /**end section tool box */
        
        h1,
        h2,
        h3,
        h4,
        h5,
        lead {
            font-family: 'Droid Sans', sans-serif;
        }
        /**start bootstrab */
        /**start navebar */
        
        .navbar {
            min-height: 70px;
        }
        
        .navbar-inverse .navbar-nav>li>a {
            color: #BBB;
            padding-top: 25px;
            padding-bottom: 25px;
            font-size: 16px;
        }
        
        .navbar-inverse .navbar-brand {
            color: #BBB;
            line-height: 40px;
            font-size: 30px;
        }
        
        .dropdown-menu {
            background-color: #333;
            min-width: 200px;
        }
        
        .dropdown-menu>li>a {
            color: #FFF;
            padding: 6px 20px;
        }
        
        .navbar-right .dropdown-menu {
            left: 0;
            right: auto;
        }
        
        .dropdown-menu>li>a:hover,
        .dropdown-menu>li>a:focus {
            color: #FFF;
            padding-left: 25px;
            transition: padding 0.5s ease;
            -webkit-transition: padding 0.5s ease;
            -moz-transition: padding 0.5s ease;
            -ms-transition: padding 0.5s ease;
            -o-transition: padding 0.5s ease;
        }
        
        .dropdown-menu .divider {
            background-color: #871818;
        }
        
        .navbar-toggle {
            margin-top: 18px;
        }
        /**end navebar */
        /**start carousel */
        
        .carousel-caption {
            bottom: 70px;
            background-color: rgba(3, 3, 3, 0.3);
            padding-right: 20px;
            padding-left: 20px;
        }
        
        .carousel-indicators {
            bottom: 0;
        }
        
        .carousel-indicators li {
            height: 15px;
            width: 15px;
            border: 1px solid #EEE;
        }
        
        .carousel-indicators .active {
            width: 17px;
            height: 17px;
        }
        
        .carousel-inner>.item>img {
            width: 100%;
        }
        /**end bootstrab */
        /*start section about */
        
        .about {
            padding-top: 60px;
            padding-bottom: 60px;
        }
        
        .about h1 {
            font-weight: bold;
        }
        
        .about .lead {
            color: #888;
            font-size: 25px;
            margin-top: 15px;
        }
        /*end section about */
        /*start section features*/
        
        .features {
            background-color: #EEE;
            padding-top: 50px;
            padding-bottom: 50px;
        }
        
        .features .feat {
            margin-bottom: 30px;
        }
        
        .features .feat p {
            line-height: 2em;
        }
        
        .features .feat span.glyphicon {
            font-size: 25px;
            margin-bottom: 10px;
            color: #666;
        }
        /*end section features*/
        /**start Testimonials section */
        
        .testimonials {
            padding-top: 50px;
            padding-bottom: 50px;
        }
        
        .testimonials .lead {
            line-height: 2em;
            margin-bottom: 10px;
        }
        
        .testimonials span {
            font-size: 18px;
            font-weight: bold;
        }
        
        .testimonials .carousel-inner {
            min-height: 160px;
        }
        
        .testimonials .carousel-indicators {
            position: static;
            width: 100%;
            margin-left: auto;
            padding-top: 20px;
        }
        
        .testimonials .carousel-indicators li {
            text-indent: 0;
            width: 80px;
            height: 80px;
            opacity: 0.4;
            border: 3px solid #FFF;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            overflow: hidden;
            margin: 5px;
        }
        
        .testimonials .carousel-indicators li.active {
            width: 80px;
            height: 80px;
            opacity: 1;
            background: none;
        }
        
        .testimonials .carousel-indicators li img {
            max-width: 100%;
        }
        /**end Testimonials section */
        /**start sction Price Table */
        
        .price_table {
            background-color: #EEE;
            padding-top: 40px;
            padding-bottom: 40px;
        }
        
        .price_table .price_box {
            background: #FFF;
            padding: 10px;
            border: 1px solid #DDD;
            margin-bottom: 15px;
        }
        
        .price_table .price_box h2 {
            margin: 5px 0 15px;
        }
        
        .price_table .price_box:hover p {
            transform: scale(1.1, 1.1)rotate(360deg);
            -webkit-transform: scale(1.1, 1.1)rotate(360deg);
            -moz-transform: scale(1.1, 1.1)rotate(360deg);
            -ms-transform: scale(1.1, 1.1)rotate(360deg);
            -o-transform: scale(1.1, 1.1)rotate(360deg);
            border: 2px solid #DFDFDF;
        }
        
        .price_table .price_box p {
            font-size: 35px;
            font-weight: bold;
            color: #666;
            width: 100px;
            height: 100px;
            background: #F3F3F3;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            line-height: 100px;
            border: 2px solid #FFF;
            transition-duration: 0.7s;
            -webkit-transition-duration: 0.7s;
            -moz-transition-duration: 0.7s;
            -o-transition-duration: 0.7s;
        }
        
        .price_table .price_box ul {
            line-height: 250%;
            font-size: 18px;
        }
        
        .price_table .price_box a {
            margin-bottom: 5px;
        }
        /**end sction Price Table */
        /*start section Our Team*/
        
        .our_team {
            background: url('../imags/nn.jpg')no-repeat center center fixed;
            width: 100%;
            min-height: 975px;
        }
        
        .our_team .team {
            background: rgba(2, 2, 2, 0.8);
            color: #FFF;
            min-height: 980px;
            padding-top: 30px;
            padding-bottom: 30px;
        }
        
        .our_team .person {
            margin-bottom: 40px;
        }
        /*end section Our Team*/
        /**start section Subscribe */
        
        .subscribe {
            padding-bottom: 70px;
            padding-top: 40px;
            background-color: #EEE;
        }
        
        .subscribe h1 {
            color: #888;
            letter-spacing: 2px;
            margin-bottom: 20px;
        }
        
        .subscribe p {
            margin-bottom: 30px;
        }
        
        .subscribe .form-control {
            border-radius: 0;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            -ms-border-radius: 0;
            -o-border-radius: 0;
            width: 300px;
            margin-right: -5px;
        }
        
        .subscribe button {
            border-radius: 0;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            -ms-border-radius: 0;
            -o-border-radius: 0;
        }
        /**end section Subscribe */
        /**start section stat */
        
        .statistics {
            background: url('../imags/rr.jpeg') no-repeat center center fixed;
            min-height: 300px;
        }
        
        .statistics .data {
            background-color: rgba(2, 2, 2, 0.8);
            color: #B6B5B5;
            min-height: 300px;
            padding-top: 40px;
            padding-bottom: 70px;
        }
        
        .statistics .stats {
            margin-bottom: 30px;
        }
        
        .statistics .stats:hover {
            color: #FFF;
        }
        
        .statistics p {
            font-size: 60px;
            font-weight: 800;
            margin-bottom: 0;
        }
        
        .statistics span {
            font-size: 18px;
        }
        /**end section stat */
        /**start section Our Skills */
        
        .our-skills {
            padding-top: 40px;
            padding-bottom: 70px;
        }
        
        .our-skills h3 {
            font-weight: bold;
            margin-top: 0;
        }
        
        .our-skills .progress {
            height: 36px;
        }
        
        .our-skills .progress-bar {
            line-height: 36px;
            font-size: 15px;
            font-weight: bold;
            text-align: left;
            text-indent: 10px;
        }
        /**end section Our Skills */
        /*start section contict us*/
        
        .contact-us {
            background: url('../imags/rr.jpeg') no-repeat center center fixed;
            min-height: 300px;
        }
        
        .contact-us .fields {
            background: rgba(9, 9, 9, 0.8);
            min-height: 300px;
            color: #DDD;
            padding-top: 40px;
            padding-bottom: 40px;
        }
        
        .contact-us p {
            margin-bottom: 40px;
        }
        
        .contact-us textarea {
            height: 108px;
        }
        
        .contact-us input[type="text"],
        .contact-us textarea {
            background: rgba(82, 78, 78, 0.5);
            color: #FFF;
            border: none;
        }
        /*end section contict us*/
        /*start section our client*/
        
        .our-client {
            background: #DDD;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        
        .our-client img {
            opacity: 0.4;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        
        .our-client img:hover {
            opacity: 1;
        }
        /*end section our client*/
        /*start section footer*/
        
        .footer {
            background: #111;
            color: #AAA;
            padding-top: 10px;
        }
        
        .footer a {
            color: #AAA;
        }
        
        .footer a:hover {
            color: #FFF;
        }
        
        .footer h3 {
            letter-spacing: 1px;
            margin: 30px 0 20px;
        }
        
        .footer .three-columns {
            overflow: hidden;
        }
        
        .footer .three-columns li {
            width: 33.3333%;
            float: left;
            padding: 5px 0;
        }
        
        .footer .img-thumbnail {
            background: rgba(0, 0, 0, 0, 0.2);
            border: 1px solid #444;
            margin-bottom: 5px;
        }
        
        .footer .copyright {
            background: #333;
            color: #AAA;
            padding: 15px 0;
            margin-top: 30px;
            font-size: 18px;
        }
        /*end section footer*/
        /**start media Query */
        
        @media(max-width:767px) {
            .navbar-inverse .navbar-nav>li>a {
                padding-top: 10px;
                padding-bottom: 10px;
            }
            .subscribe .form-control {
                margin: 20px auto;
                width: 400px;
            }
            .navbar-fixed-top .navbar-collapse,
            .navbar-fixed-bottom .navbar-collapse {
                max-height: none;
            }
        }
        /**phone */
        /**end media Query */
        /*start section loding*/
        
        .loding-overlay {
            background: #222;
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            z-index: 99999;
        }
        
        .spinner {
            width: 60px;
            height: 60px;
            position: relative;
            margin: 300px auto;
        }
        
        .double-bounce1,
        .double-bounce2 {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: #FFF;
            opacity: 0.6;
            position: absolute;
            top: 0;
            left: 0;
            -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
            animation: sk-bounce 2.0s infinite ease-in-out;
        }
        
        .double-bounce2 {
            -webkit-animation-delay: -1.0s;
            animation-delay: -1.0s;
        }
        
        @-webkit-keyframes sk-bounce {
            0%,
            100% {
                -webkit-transform: scale(0.0)
            }
            50% {
                -webkit-transform: scale(1.0)
            }
        }
        
        @keyframes sk-bounce {
            0%,
            100% {
                transform: scale(0.0);
                -webkit-transform: scale(0.0);
            }
            50% {
                transform: scale(1.0);
                -webkit-transform: scale(1.0);
            }
        }
        /*end section loding*/
        /*start scroll to top*/
        
        #scroll-top {
            width: 50px;
            height: 40px;
            color: #DDD;
            background-color: #272727;
            text-align: center;
            position: fixed;
            right: 15px;
            bottom: 10px;
            z-index: 9999;
            display: none;
            cursor: pointer;
        }
        
        #scroll-top:hover {
            background-color: #444;
        }
        /*end scroll to top*/
        /*start short code*/
        
        .contact-us,
        .statistics,
        .our_team {
            background-size: cover;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
        }
        
        .features .h1,
        .testimonials .h1,
        .price_table .h1,
        .our_team .h1,
        .statistics .h1,
        .our-skills .h1 {
            margin-bottom: 50px;
        }
        
        .our-client img,
        .statistics .stats,
        .testimonials .carousel-indicators li {
            transition: all 0.5s ease-in-out;
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -ms-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
        }
        /*end short code*/